<a href='/'>&lt; Overview</a>

<h1>New Post</h1>

<form action='/posts' method='POST'>

  <input type='text' name='id' placeholder='ID'\>
  <input type='text' name='title' placeholder='Title'\>
  <input type='author' name='author' placeholder='Author'\>
  <input type='content' name='content' placeholder='Content'\>
  <input type='submit' value='Save'\>

</form>
