<a href='/'>&lt; Overview</a>
</br>
</br>

<a href='/posts/new'>Add a new post</a>
</br>
</br>

<h1>Posts</h1>
</br>
</br>

<table width='100%'>
<% @posts.each do |post| %>
  <tr>
    <td>
      <h3> <a href='/posts/<%= post[:id] %>'> <%= post[:title] %> </a> </h3>
    </td>
  </tr>
  <tr>
    <td>
      By: <b> <%= post[:author] %> </b>
    </td>
  </tr>
  <tr>
    <td>
      </br>
      </br>
    </td>
  </tr>
<% end %>
</table>
